 pre {
    color: black;
    border: solid 1px #eeeeee;
    border-radius: 8px;
    margin: 7px; 
    padding: 7px; 
    font-size: 1.1 em; 
    background: #eeeeee;
}

code {
    color: black;
    background: #eeeeee;
}

li {
    margin-left: 20px;
}

.custom-container {
    width: 80%;
    border: solid #eeeeee;
    border-width: 2px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
}